form{
    margin-top: 150px;
}

fa-icon{
    width: 30px;
    height: 23px;
    display: inline-block;
    font-size: 21px;
}

.ng-fa-icon{
    color: aliceblue;
}

.check{
    color: darkgoldenrod;
}

@media(min-width: 170px)
{
    form{
        margin-bottom: 110px;
        margin-top: -50px;
    }

    form>textarea{
        width: 228px;
        height: 155px;
    }
}